<!DOCTYPE html>
<html>
<head>
<title>EventSource Chatting program</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<base href="/">
<link rel="stylesheet" type="text/js" href="chat.js" >
<link rel="stylesheet" type="text/css" href="hello.css" >
{{ partial "chat" }}
</head>

<body>
    
  <div class="container ">
    <h2>프로필을 수정하세요</h2>
  </div>


  <a href="index2.html">
    <input class="page-header2" type="submit" value="프로필 수정완료" />
</a>
  
<div class="page-header3" id="chat-log"></div>
<div id="user-name"></div>
<form id="input-form" >
    
 
    
   
</form>


<header class="page-header">
    <div class="container ">
 
    </div>
  </header>
  <div class="main">
    <div class="container ">
      <div class="chat-log">
        <div class="chat-log__item">
        </div>
        <div class="chat-log__item chat-log__item--own">
        </div>
      </div>
    </div>
    <div class="chat-form">
      <div class="container ">
        <form class="form-horizontal">
          <div class="row">
            <div class="col-sm-10 col-xs-8">
              </div>
            <div class="col-sm-2 col-xs-4">
               </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>